In [131]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
import pickle

In [58]:
categ = np.array(['C','S','H','E','B'])#['Clothing','Shoes','Handbags','Electronics','Books']

group      women: < 20,| 20 ~ 50, |>50;  |  men: < 20,    |   20 ~ 50,    |      >50 <br>
category          C,B  | C,S,E   | S,H    |      S,E,B    |     C,S,E     |       E  <br>
price             <50 |<200,<800 |<200,<300 |  <200,<800,<50 | <50,<200,<800 |    <800<br>

In [73]:
d = {'0women1':[('C',30),('B',30)],'0women2':[('C',150),('S',150),('E',500)],
     '0women3':[('S',150),('H',250)],'1men1':[('S',150),('E',500),('B',30)],
     '1men2':[('C',30),('S',150),('E',500)],'1men3':[('E',500)]}

In [178]:
def make_data(num):
    data = {'gender':[],'age':[],'category':[], 'price':[]}
    age = {'1':(10,20),'2':(20,50),'3':(50,80)}
    purchased = []
    for k in d:
        for c in d[k]:
            data['gender']+=([int(k[0])]*num)
            data['category']+=([c[0]]*num)
            purchased+=([1]*num)
            data['age']+=list(np.random.randint(age[k[-1]][0],age[k[-1]][1], size=num))
            data['price']+= list(np.random.randint(c[1]*0.5,c[1]*1.5, size=num))
    n = len(data['gender'])//5
    data['gender']+=list(np.array([0,1])[np.random.randint(2,size=n)])
    data['category']+=list(categ[np.random.randint(len(categ),size=n)])
    purchased+=([0]*n)
    data['age']+=list(np.random.randint(10,80, size=n))
    data['price']+= list(np.random.randint(10,500*1.5, size=n))
    df = pd.DataFrame.from_dict(data)
    df = pd.get_dummies(df)
    return df,purchased

In [179]:
train_X, train_y = make_data(10000)
test_X, test_y = make_data(2000)
train_X.head()

,gender,age,price,category_B,category_C,category_E,category_H,category_S
0,0,11,37,0,1,0,0,0
1,0,18,39,0,1,0,0,0
2,0,18,27,0,1,0,0,0
3,0,11,17,0,1,0,0,0
4,0,13,25,0,1,0,0,0

In [180]:
len(train_X)

168000

In [181]:
clf = LogisticRegression().fit(train_X, train_y)

In [182]:
clf.score(train_X, train_y)

0.8960654761904762

In [183]:
clf.score(test_X, test_y)

0.8957738095238095

In [184]:
test_X[-5:]

,gender,age,price,category_B,category_C,category_E,category_H,category_S
33595,1,29,483,0,0,0,1,0
33596,0,42,157,1,0,0,0,0
33597,1,43,592,0,0,1,0,0
33598,1,56,644,0,1,0,0,0
33599,0,41,270,0,0,0,1,0

In [189]:
clf.predict_proba(test_X[-5:])[:,1]

array([0.42644879, 0.71187916, 0.81282869, 0.08464467, 0.77889544])

In [191]:
np.argsort(clf.predict_proba(test_X[-5:])[:,1])[:3]

array([3, 0, 1])

In [139]:
pkl_filename = "pretrained_model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(clf, file)

In [ ]:
def preprocess(item,user):

In [192]:
def get_recommendation(X,pkl_filename,items,k):
    with open(pkl_filename, 'rb') as file:
        clf = pickle.load(file)
    pred = clf.predict_proba(test_X[-5:])[:,1]
    return items[np.argsort(pred)[:k]]